@use "sass:map";
@use "sass:list";

$lightness-variation: ( 1: 35%, 2: 25%, 3: 10%, 4: 0%, 5: -5%, 6: -10%, 7: -15%, 8: -25%, 9: -35% );

$palette: (
  "grey": ( "h": 0, "s": 0%, "l": 50% ),
  "primary": ( "h": 224, "s": 52%, "l": 56% ),
  "secondary": ( "h": 0, "s": 58%, "l": 46% ),
  "success": ( "h": 125, "s": 40%, "l": 50% ),
  "warning": ( "h": 28, "s": 100%, "l": 50% ),
  "error": ( "h": 0, "s": 90%, "l": 45% ),
);

@mixin build-colors {
  @each $color-name, $color-value in $palette {
    --ui-global-color-#{$color-name}--000: hsl(#{map.get($color-value, "h")} #{map.get($color-value, "s")} 95%);
    @for $var from 1 through 9 {
      $lightness: calc(#{map.get($color-value, "l")} + #{map.get($lightness-variation, $var)});
      --ui-global-color-#{$color-name}--#{$var}00: hsl(#{map.get($color-value, "h")} #{map.get($color-value, "s")} #{$lightness});
    }
  }
}

@function color-transparency($color-name, $alpha: 0.5) {
  $color-value: map.get($palette, $color-name);
  @if $color-value {
    @return hsla(map.get($color-value, "h"), map.get($color-value, "s"), map.get($color-value, "l"), $alpha);
  } @else {
    @return hsla(0, 0%, 0%, $alpha);
  }
}

:root {
  --ui-global-gutter: 0.25rem;
  --ui-global-color-black: hsl(0, 0%, 15%);
  @include build-colors;
}