@use 'sass:math';
@use './variables';

@mixin heading--h1 {
  font-size: variables.$gutter*12;  //48px
  line-height: variables.$gutter*15;  //60px
  font-weight: 600;
}
@mixin heading--h2 {
  font-size: variables.$gutter*10;  //40px
  line-height: variables.$gutter*12;  //48px
  font-weight: 600;
}
@mixin heading--h3 {
  font-size: variables.$gutter*8;  //32px
  line-height: variables.$gutter*9;  //36px
  font-weight: 600;
}
@mixin heading--h4 {
  font-size: variables.$gutter*6;  //24px
  line-height: variables.$gutter*7;  //28px
  font-weight: 600;
}
@mixin heading--h5 {
  font-size: variables.$gutter*5;  //20px
  line-height: variables.$gutter*6;  //24px
  font-weight: 600;
}
@mixin heading--h6 {
  font-size: variables.$gutter*4;  //16px
  line-height: variables.$gutter*5;  //20px
  font-weight: 600;
}

@mixin text--lg {
  font-size: variables.$gutter*4.5;  //18px
  line-height: variables.$gutter*6.4;  //25.6px
}
@mixin text--md {
  font-size: variables.$gutter*4;  //16px
  line-height: variables.$gutter*6.4;  //25.6px
}
@mixin text--md-input {
  font-size: variables.$gutter*4;  //16px
  line-height: variables.$gutter*5;  //25.6px
}

@mixin text--sm {
  font-size: variables.$gutter*3.5;  //14px
  line-height: variables.$gutter*5.6;  //22.4px
}
@mixin text--xs {
  font-size: variables.$gutter*3;  //12px
  line-height: variables.$gutter*5.6;  //22.4px
}

@mixin minimal-scrollbar {
  scroll-behavior: smooth;
  scrollbar-color: var(--ui-color-grey--30) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: variables.$gutter*2;
    height: variables.$gutter*1.5;
    &-thumb {
      --scrollbar-bg-color: var(--ui-color-grey--20);
      border-radius: variables.$gutter;
      background: var(--scrollbar-bg-color);
      border: variables.$gutter*.25 solid var(--ui-background-color);
      &:hover {
        --scrollbar-bg-color: var(--ui-color-grey--30);
      }
      &:active {
        --scrollbar-bg-color: var(--ui-color-grey--50);
      }
    }
    &-button {
      display: none;
    }
  }
}

@mixin scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
    opacity: 0;
  }
}

// colores por Tema  componentes
@mixin theme-color($key, $light, $dark) {
  #{$key}: $light;
  .dark-theme & {
    #{$key}: $dark;
  }
  @media (prefers-color-scheme: dark) {
    #{$key}: $dark;
    .light-theme & {
      #{$key}: $light;
    }
  }
}

@mixin box {
  background-color: var(--ui-background-color);
  border-radius: variables.$gutter*8;
  padding: variables.$gutter*8;
}